@font-face {
  font-family: "iconfont"; /* Project id 2684899 */
  src: url('iconfont.woff2?t=1642649243719') format('woff2'),
       url('iconfont.woff?t=1642649243719') format('woff'),
       url('iconfont.ttf?t=1642649243719') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zidonghuashebei1:before {
  content: "\e648";
}

.icon-peidianshebei1:before {
  content: "\e649";
}

.icon-ziranrenkehu:before {
  content: "\e64a";
}

.icon-biandianshebei1:before {
  content: "\e64b";
}

.icon-zuzhikehu:before {
  content: "\e64c";
}

.icon-gongyingshang1:before {
  content: "\e64d";
}

.icon-gongyingshang:before {
  content: "\e642";
}

.icon-kehu-kehuxinxi:before {
  content: "\e643";
}

.icon-kehuqunzu:before {
  content: "\e644";
}

.icon-biandianshebei:before {
  content: "\e645";
}

.icon-zidonghuashebei:before {
  content: "\e646";
}

.icon-peidianshebei:before {
  content: "\e647";
}

.icon-kehubiaoqian:before {
  content: "\e63c";
}

.icon-renyuanbiaoqian:before {
  content: "\e63d";
}

.icon-gongyingshangbiaoqian:before {
  content: "\e63e";
}

.icon-shebeibiaoqian:before {
  content: "\e63f";
}

.icon-root:before {
  content: "\e640";
}

.icon-zuzhiduixiangbiaoqian:before {
  content: "\e641";
}

.icon-shanchu:before {
  content: "\e68e";
}

.icon-edit:before {
  content: "\e8c7";
}

.icon-tianjia-:before {
  content: "\e636";
}

.icon-search:before {
  content: "\e666";
}

